<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">

            <div class="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 style="padding: 16px;">Todo List</h2>

                        </div>

                        <div class="col-md-6">
                            <div style="float: right; padding: 16px;">
                                <input type="button" value="Create Todo" (click)="addTodo()" class="btn btn-success"
                                    style="margin-right: 10px;" />
                                <input type="button" value="Delete Checked" (click)="deleteChecked()"
                                    class="btn btn-danger" />
                            </div>
                        </div>

                    </div>
                </div>
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="select">
                        <th style="width: 130px;" mat-header-cell *matHeaderCellDef>
                        </th>
                       
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation();addRemoveIdToList(row)"
                                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- title Column -->
                    <ng-container matColumnDef="title">
                        <th style="width: 200px;" mat-header-cell *matHeaderCellDef> <b>Title</b> </th>
                        <td mat-cell *matCellDef="let todo"> {{todo.title}} </td>
                    </ng-container>

                    <!-- description Column -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef><b>Description </b></th>
                        <td mat-cell *matCellDef="let todo"> {{todo.description}} </td>
                    </ng-container>

                    <!-- date Column -->
                    <ng-container matColumnDef="date">
                        <th style="width: 300px;" mat-header-cell *matHeaderCellDef> <b>Date</b> </th>
                        <td mat-cell *matCellDef="let todo"> {{todo.timeOfEvent}} </td>
                    </ng-container>



                    <!-- actions Column -->
                    <ng-container matColumnDef="actions">

                        <th  class="text-right" mat-header-cell *matHeaderCellDef> <b>Actions</b> </th>
                        <td mat-cell *matCellDef="let row; let i=index;" class="text-right ">
                            <!-- edit button -->
                            <button class="mtBtn" mat-icon-button  color="accent" (click)="updateTodo(row);">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>

                            <!-- delete button -->
                            <button class="mtBtn" mat-icon-button  color="accent" (click)="deleteTodo(row)">
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </button>

                        </td>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


            </div>
        </div>
    </div>
</div>